{% extends 'base.html.twig' %}

{% block title %}Hello CircuitController!{% endblock %}

{% block body %}
    <h1>Page utilisateur</h1>
    <p>Titre : {{ circuit.titre }}</p>
    <p>Description : {{ circuit.descripton }}</p>
    <p>Prix : {{ circuit.prix }}</p>
{% endblock %}